{% extends 'base.html.twig' %}
{% block body %}
  <section class="container cart">

    <div class="order">
      <h3>Votre panier</h3>

      <table class="table table-borderless col">
        <thead>
        <tr>
          <th scope="col-10" class="product-name">Produit</th>
          <th scope="col-2" class="product-total">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for key, item in app.session.get('items') %}
          {% if item.name is same as ('formule') %}
            <tr class="cart_item component_container_table_item">
              <td class="product-name">
                {{ item.title }}&nbsp;<strong class="product-quantity">× 1</strong>
              </td>
              <td class="product-total">
                <span class="woocommerce-Price-amount amount">{{ item.price|number_format(2) }}€</span>
                <a href="/cart/?method=delete&id={{ key }}">X</a>
              </td>
            </tr>

            <tr class="cart_item component_table_item">

              <td class="product-name">
                <div class="component-name component_table_item_indent">
                  <div class="component">
                    <span class="component-Base component-type">Base :</span>
                    <div class="component-Base component-detail">
                      <p class="identation">{{ item.salade.base.name }}<strong class="composited_product_quantity"> × 1</strong></p>
                    </div>
                  </div>
                </div>
              </td>

              <td class="product-total">
              </td>
            </tr>

            <tr class="cart_item component_table_item bundle_table_item">
              <td class="product-name">
                <div class="component-name component_table_item_indent">
                  <span class="component">
                    <span class="component-Ingredients component-type">Ingrédients :</span>
                  </span>
                  &nbsp;
                </div>
              </td>

              <td class="product-total">
              </td>
            </tr>

            {% for ingredient in item.salade.ingredients %}
              <tr class="cart_item bundled_table_item">
                <td class="product-name">
                  <div class="bundled-product-name bundled_table_item_indent">
                    {{ ingredient.name }}&nbsp;
                    <strong class="product-quantity">× 1</strong>
                  </div>
                </td>
                <td class="product-total">
                </td>
              </tr>
            {% endfor %}

            <tr class="cart_item component_table_item">

              <td class="product-name">
                <div class="component-name component_table_item_indent">
                  <div class="component">
                    <span class="component-Sauce component-type">Sauce :</span>
                    <div class="component-Sauce component-detail">
                      <p class="identation">{{ item.salade.sauce.name }}<strong class="composited_product_quantity"> × 1</strong></p>
                    </div>
                  </div>
                </div>
              </td>

              <td class="product-total">
              </td>
            </tr>

          {% else %}
            <tr class="cart_item component_container_table_item">
              <td class="product-name">
                {{ item.title }}&nbsp;<strong class="product-quantity">× 1</strong>
              </td>
              <td class="product-total">
                <span class="woocommerce-Price-amount amount">{{ item.price|number_format(2) }}€</span>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
          <td>SOUS-TOTAL</td>
          <td class="amount">{{ total_price|number_format(2) }}€</td>
        </tr>
        <tr>
          <td>TOTAL</td>
          <td class="amount">{{ total_price|number_format(2) }}€</td>
        </tr>
        </tfoot>
      </table>

    </div>

    <a href="{{ path('checkout') }}">valider</a>
  </section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {#{{ encore_entry_script_tags('react') }}#}
  {#<script>#}
    {#function getSessions() {#}
      {#fetch('/api/currentSession')#}
        {#.then(response => response.json())#}
        {#.then(data => data.items)#}
    {#}#}
    {#function getSessionItem(id) {#}
      {#fetch(`/api/currentSession/${id}`)#}
        {#.then(res => res.json())#}
        {#.then(data => console.log(data))#}
    {#}#}
    {#function removeSessionItem(id) {#}
      {#fetch(`/api/currentSession/${id}`, {#}
        {#method: 'DELETE'#}
      {#})#}
        {#.then(res => res.json())#}
        {#.then(data => console.log(data))#}
    {#}#}

    {#clearElts = [].slice.call(document.querySelectorAll('button.clear_item'));#}
    {#clearElts.forEach(elt => elt.addEventListener('click', evt => {#}
      {#removeSessionItem(elt.getAttribute('data-session-id'));#}
      {#window.location.reload();#}
    {#}))#}

    {#const items = getSessions();#}

  {#</script>#}
{% endblock %}
