{% extends 'base.html.twig' %}
{% block body %}
  <h1>Cart page</h1>

  {% if formules %}
    {% for formule in formules %}
      {#<li>{{ dump(formule) }}</li>#}
    {% endfor %}
  {% endif %}

  {% if products %}
    <ul>
    {% for product in products %}
      <li>{{ product[1] }} x {{ product[0].name }} - {{ product[1] * product[0].price }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if formules %}
    {% if products %}
      <a href="{{ path('checkout') }}">valider la commande</a>
    {% endif %}
  {% endif %}
{% endblock %}
