{% extends 'base.html.twig' %}

{% block body %}
  <section class=" wrapper homepage">
    <section class="homepage__formules">
      <h3>Les formules</h3>
      {% if formules %}
      <div class="row">
        {% for formule in formules %}
          <aside class="col s6">
            <a href="/formules/{{ formule.id }}"></a>
            <span>{{ formule.name }}</span>
          </aside>
        {% endfor %}
      </div>
      {% endif %}
    </section>

    <section class="homepage__bagels">
      <h3>Les bagels</h3>
    </section>

    <section class="homepage__paninis">
      <h3>Les paninis</h3>
    </section>

    <section class="homepage__boissons">
      <h3>Les boissons</h3>
    </section>

    <section class="homepage__desserts">
      <h3>Les desserts</h3>
    </section>

  </section>
{% endblock %}

{#{% block body %}#}
  {#{% if categories %}#}
  {#<h3>Les categories</h3>#}
  {#{% for category in categories %}#}
  {#<li>#}
  {#<a href="/category/{{ category.slug }}">{{ category.name }}</a>#}
  {#</li>#}
  {#<ul>#}
  {#{% for product in category.products %}#}
  {#<li>{{ product.name }}</li>#}
  {#{% endfor %}#}
  {#</ul>#}
  {#{% endfor %}#}
  {#{% endif %}#}
  {#{% if formules %}#}
  {#{% for formule in formules %}#}
  {#<a href="/formules/{{ formule.id }}">#}
  {#<h2>{{ formule.name }} ({{ formule.price }})</h2>#}
  {#</a>#}
  {#{% endfor %}#}
  {#{% endif %}#}
  {#<div id="root"></div>#}
{#{% endblock %}#}

