{% extends 'base.html.twig' %}
{% block body %}
  <h1>checkout page</h1>
  {#{{ dump(app.user) }}#}
  {#{{ dump(app.session.get('items')) }}#}

  {% if app.user %}

    <input id="cardholder-name" type="hidden" value="{{ cart_value }}" />
    <!-- placeholder for Elements -->
    <div id="card-element"></div>
    <button id="card-button" data-secret="{{ intent_client_secret }}">
      Submit Payment
    </button>


  {% else %}
    <span>login form</span>
  {% endif %}

  {% if app.session.get('items') %}
    {% for item in app.session.get('items') %}
      {#{{ dump(item) }}#}
      {% if item.name is same as ('formule') %}
        <li>1 x {{ item.title }} - {{ item.price }}€</li>
      {% else %}
        <li>{{ item.quantity }} x {{ item.name }}</li>
      {% endif %}
    {% endfor %}
  {% endif %}



  {#<input id="date" type="text" class="datepicker" />#}

  {#<form>#}
    {#<label>#}
      {#<input type="text" name="username" placeholder="username" />#}
    {#</label>#}
    {#<label>#}
      {#<input type="password" name="password" placeholder="password" />#}
    {#</label>#}
  {#</form>#}

  <a href="{{ path('order') }}">Order</a>

  {#<form method="post" action="{{ path('order') }}">#}
    {#<button type="submit">valider panier</button>#}
  {#</form>#}

{% endblock %}


{% block javascripts %}
  {{ parent() }}

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    var stripe = Stripe('pk_test_TKXXHFzX8TffglZuhcz63eTO0099Nj7Hot');

    var elements = stripe.elements();
    var cardElement = elements.create('card');
    cardElement.mount('#card-element');

    var cardholderName = document.getElementById('cardholder-name');
    var cardButton = document.getElementById('card-button');
    var clientSecret = cardButton.dataset.secret;

    cardButton.addEventListener('click', function(ev) {
      stripe.handleCardPayment(
        clientSecret, cardElement, {
          payment_method_data: {
            billing_details: {name: cardholderName.value}
          }
        }
      ).then(function(result) {
        if (result.error) {
          console.log(result.error)
          // Display error.message in your UI.
        } else {
          // The payment has succeeded. Display a success message.
        }
      });
    });
  </script>
{% endblock %}
